header .nav-link {
  padding: 10px 0;
}
:root {
  --content-tab: 480px;
}
.big-dropdown {
  width: 800px;
  max-width: 90vw;
  max-height: var(--content-tab) !important;
  overflow-y: auto;
  z-index: 1000;
  background: white;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: all 0.35s ease-in-out;
}
.big-dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* translucent black */
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.bd-title {
  font-size: 20px;
  font-weight: 700 !important;
  color: #104042;
}

.bd-desc {
  font-size: 18px;
  color: #242424;
}

.bd-image-box {
  background-color: #afff1a;
  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 20px 20px 0;
}

.bd-image-box img {
  width: 250px;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
}

.big-dropdown__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  width: 30px;
  font-size: 14px;
  padding: 0;
  z-index: 1;
  margin: 0 !important;
  border-radius: 100px;
}

.bib-business {
  padding: 0 !important;
  background-color: #104042;
}

.xb-header.stricked-menu:not(.stricky-fixed) .big-dropdown {
  display: none !important;
}

/* Desktop positioning */
@media (min-width: 992px) {
  .big-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .big-dropdown.open {
    opacity: 1;
    visibility: visible;
  }

  .big-dropdown.closing {
    opacity: 0;
    visibility: hidden;
  }
}

/* Mobile layout */
@media (max-width: 991.98px) {
  .big-dropdown-backdrop.active {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu__menu .nav-menu__item {
    transform: unset !important;
  }

  .big-dropdown {
    position: fixed !important;
    top: 10%;
    max-height: max-content !important;
    height: calc(100vh - 20%) !important;
    bottom: 10% !important;
    left: 5%;
    right: 5%;
    width: 90%;
    z-index: 1050;
    margin: 0 auto;
  }
  .big-dropdown .big-dropdown__content > .row {
    position: relative;
  }
  .big-dropdown .col-lg-4 {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .big-dropdown .col-lg-8 {
    height: auto !important;
  }

  .big-dropdown.open {
    opacity: 1;
    visibility: visible;
  }

  .big-dropdown.closing {
    opacity: 0;
    visibility: hidden;
  }

  .big-dropdown .nav-tabs {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .big-dropdown .nav-tabs .nav-item {
    flex-grow: 1;
  }
  .big-dropdown .nav-tabs .nav-link {
    text-align: center !important;
  }
}

.big-dropdown .nav-tabs .nav-link.active {
  background-color: #eeeeee;
}
.big-dropdown .nav-tabs {
  border: 0 !important;
}
.big-dropdown .nav-tabs .nav-link {
  box-shadow: unset;
  border-radius: 4px !important;
  border: 0 !important;
  padding: 15px 15px;
  width: 100%;
  text-align: left;
  color: #262c55;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
}

.big-dropdown .h-100 {
  background-color: #f8fafd;
}
.item-style-1 .d-flex.gap-3 > div:first-child {
  flex-shrink: 0;
}
.item-style-1 svg,
.item-style-1 img {
  object-fit: contain;
  object-position: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.big-dropdown .tab-content h5,
.big-dropdown .tab-content a {
  color: #262c55;
}

.big-dropdown h5 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}

.big-dropdown p {
  font-size: 14px;
  font-weight: 400;
}

.big-dropdown p:last-child {
  margin-bottom: 0px;
}

.big-dropdown .row {
  margin: 0 !important;
}

.big-dropdown .col-lg-8 {
  max-height: var(--content-tab);
}

.inner-page .title {
  color: var(--inner-title-color);
}

.inner-page .sub-title {
  color: var(--inner-sub-title-color);
}

.inner-page :is(p, span, li, label):not(:is(header *, footer *)) {
  color: var(--inner-para-color);
}

.inner-page .accept-payments .main-content .single-item h5,
.inner-page .our-solutions .single-item h5 {
  color: var(--inner-title2-color);
}

.inner-page section:not(.hero_section) {
  overflow-x: visible !important;
}

.hero_title_2 {
  font-size: 60px !important;
  line-height: 125% !important;
  margin: 0 !important;
}

.inner-page .xlr {
  font-size: 24px;
}

.inner-page section .row {
  margin: 0 -12px !important;
}

.inner-page .row > div {
  padding: 0 12px;
}

.inner-dark .title {
  color: #ffffff;
}

.inner-dark .sub-title {
  color: var(--inner-dark-sub-title-color);
}

.inner-dark .para {
  color: var(--inner-dark-para-color) !important;
}

.inner-gradient {
  background-image: var(--inner-gradient) !important;
}

.cards-container {
  max-width: 850px;
}

.sticky-card {
  background-color: #eeeeee;
  border-radius: 30px;
}
.page_wrapper {
  overflow: unset !important;
}
.sticky-card {
  position: sticky;
  transform-origin: top center;
  transition: transform 0.2s linear; /* smooth but quick */
}

.sticky-card:last-of-type {
  position: static;
}

.cards-title {
  text-align: center;
  font-size: 60px !important;
  margin-bottom: 50px !important;
  font-weight: 800;
  color: #000000;
  line-height: 110% !important;
  position: sticky;
  top: 8rem; /* or whatever you want */
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

.africapay {
  background-color: #f9f9f9;
}

.africapay
  .header_layout_1
  .xb-header:not(.stricked-menu)
  .main_menu_list
  > li
  > a {
  color: #060210;
}

.africapay
  .header_layout_1
  .xb-header:not(.stricked-menu)
  .main_menu_list
  > li
  > a:after {
  color: #060210;
}

.africapay .hero-box {
  background-image: url(../images/multi-color-bg.jpg),
    linear-gradient(to right, #62cff4 30%, #62cff4);
  background-size: cover;
}

.africapay .sticky-card {
  padding: 6rem 40% 6rem 3rem;
  background-size: cover;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center right;
}

.africapay .sc-1 {
  background-image: url(../images/sc-img-1.png);
}

.africapay .sc-2 {
  background-image: url(../images/sc-img-2.png);
}

.africapay .sc-3 {
  background-image: url(../images/sc-img-3.png);
}

.africapay .sc-4 {
  background-image: url(../images/sc-img-4.png);
}

.africapay .sc-5 {
  background-image: url(../images/sc-img-5.png);
}

.africapay .sc-6 {
  background-image: url(../images/sc-img-6.png);
}

.africapay .sc-title {
  font-size: 40px;
  font-weight: 800;
}

.africapay .sc-text {
  font-size: 20px;
  color: #020202;
}
.ap-hero-img {
  animation: glassGlow 3s infinite alternate;
  filter: drop-shadow(0 0 6px rgba(173, 216, 230, 0.4))
    drop-shadow(0 0 12px rgba(173, 216, 230, 0.25));
}

.integration-logo-img {
  width: 100%;
  height: 50px !important;
  object-fit: contain;
  object-position: center;
}
.africapay .stricked-menu.stricky-fixed {
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
}

.sec-hinderance {
  padding: 120px;
  background-image: url(../images/multi-color-bg.jpg);
  background-size: cover;
  background-position: center;
}

.sh-box {
  background-color: #ffffff;
  border-radius: 32px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.shb-title {
  margin-bottom: 44px;
  font-size: 68px;
  font-weight: 600;
}

.shb-paragraph {
  color: #020202;
  font-size: 18px;
}
@keyframes glassGlow {
  0% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.9))
      drop-shadow(0 0 12px rgba(173, 216, 230, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 12px rgba(224, 255, 255, 0.6))
      drop-shadow(0 0 6px rgba(255, 255, 255, 0.9));
  }
}

.africapay .hero-content {
  max-width: 500px;
}
.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}
.africapay .hero-title {
  color: #060210;
  font-size: 64px;
  line-height: 110%;
}

.africapay .text-dark {
  color: #020202;
}

.fw-black {
  font-weight: 900 !important;
}

.africapay .hero-desc {
  font-size: 16px;
  color: #060210;
}

.hero-benefits {
  font-size: 16px;
  font-weight: 600;
}

.africapay .page-box {
  padding: 40px;
  border-radius: 25px;
  background-color: #f0f0f0;
  transition: 0.3s ease-in-out;
}

.africapay .text-desc {
  font-size: 16px;
  color: #060210;
}

.africapay .features-content ul {
  list-style-type: none;
  padding: 0;
}

.africapay .features-content h3 {
  font-size: 22px;
}

.africapay .features-content .fa {
  font-size: 30px;
}
.africapay .feature-image-1 {
  transform: translateY(40px);
  width: 500px;
  display: block;
  margin: 0 auto;
}

.africapay .pb-2-img {
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: center;
}

.africapay .bg-primary {
  background-color: rgb(2 7 29) !important;
}
.africapay .site_footer .bg-primary {
  background-color: rgb(255 97 0) !important;
}

.africapay .btn.bg-primary:before {
  background-color: #ffffff !important;
}

.ahs-1 .arrows,
.ahs-3 .arrows {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.ahs-2 .hero-box {
  background-image: url(../images/hero-2-bg.jpg), linear-gradient(to bottom, #000120, #000120) !important;
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.ahs-2 .btn.bg-primary,
.ahs-3 .btn.bg-primary {
  background-color: #17a1ff !important;
}

.africanpay-2 .fa-circle{
  color: #17a1ff !important;
}

.africanpay-3 .fa-circle{
  color: #17a1ff !important;
}
.ahs-3 .hero-box {
  background-image: url(../images/ahs-3-bg.jpg);
  background-size: cover;
}

.ahs-3 .ap-hero-img{
  filter: drop-shadow(0 0 10px #000000ac) !important;
  animation: unset !important;
}

.ahs-3 .col-lg-6:first-of-type .hero-box {
  background-position: center left;
}

.ahs-3 .col-lg-6:last-of-type .hero-box {
  background-position: center right;
}
.inner-page-accordion .accordion-item{
  background-color: #ffffff !important;
  padding: 20px !important;
  border-radius: 20px !important;
}

.inner-page-accordion .accordion-item:last-child{
  margin-bottom: 0 !important;
}

.global-payment .single-item {
    background-color: white;
    border: 1px solid #005aea7c;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 40px 20px 33px;
    transition: 0.3s;
}

.global-payment .single-item:hover {
    box-shadow: 0px 12px 24px #005aea20;
    border-color: transparent;
}

.text-desc-lg{
  font-size: 24px;
}

.inner-sec-link{
  color: #005aea;
  font-size: 20px;
  font-weight: 700;
}

.m-unset{
  margin: unset !important;
}

.box-icon-1{
  height: 50px;
  width: 50px;
}

.ahs-1-box-1{
  background-image: linear-gradient(
    135deg,
    rgba(217, 255, 67, 1) 0%,
    rgb(67, 255, 236) 100%
  ) !important;
}

.africanpay-1 .fa-circle{
  color: green !important;
}

.ahs-1-box-2{
  background-image: linear-gradient(135deg, #00d0a3 0%, #001212 100%) !important;
}

.ahs-1-box-2 .ap-hero-img{
  filter: unset !important;
}
@media (min-width: 1600px) {
  .africapay:not(.inner-page-s1) .container {
    max-width: 1560px !important;
  }
  .africapay .hero-title {
    font-size: 80px;
  }
  .africapay .hero-content {
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .text-desc-lg{
    font-size: 20px;
  }
  .ahs-1 .arrows,
  .ahs-3 .arrows {
    width: 30px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .ahs-3 .col-lg-6:first-of-type .hero-box {
    background-position: center left;
  }

  .ahs-3 .col-lg-6:last-of-type .hero-box {
    background-position: center bottom;
  }

  .africapay .sticky-card {
    padding: 3rem 2rem 70%;
    min-height: 450px;
    text-align: center;
    background-position: center bottom;
  }

  .africapay .sc-1 {
    background-image: url(../images/sc-img-mb-1.png);
  }

  .africapay .sc-2 {
    background-image: url(../images/sc-img-mb-2.png);
  }

  .africapay .sc-3 {
    background-image: url(../images/sc-img-mb-3.png);
  }

  .africapay .sc-4 {
    background-image: url(../images/sc-img-mb-4.png);
  }

  .africapay .sc-5 {
    background-image: url(../images/sc-img-mb-5.png);
  }

  .africapay .sc-6 {
    background-image: url(../images/sc-img-mb-6.png);
  }
}
@media (max-width: 768px) {
  .hero_title_2 {
    font-size: 40px !important;
  }

  .africapay .hero-title {
    font-size: 40px;
  }

  .africapay .feature-image-1 {
    transform: translateY(30px);
  }

  .africapay .page-box {
    padding: 30px 24px;
  }

  .cards-title {
    font-size: 40px !important;
  }

  .sc-title {
    font-size: 30px !important;
  }
  .shb-title{
    font-size: 40px !important;
  }
  .sec-hinderance{
    padding: 50px 20px !important;
  }
  .sh-box{
    padding: 30px !important;
  }
}
