.payment_solutions_congopay{
    background-color: #01030f;
}
.payment_solutions_congopay .hero_payment_solutions{
    background-image: url(../images/h3_bg3.jpg);
    background-size: cover;
    background-position: center;
}

.payment_solutions_congopay .btn.bg-primary{
    background-color: #00a0f6 !important;
    color: #fff !important;
}
/* .payment_solutions_congopay .btn.bg-primary:hover{
    background-color: #000000 !important;
} */

.payment_solutions_congopay .btn:hover::before{
    background-color: #000000 !important;
}

.payment_solutions_congopay .text-primary{
    color: #00a0f6 !important;
}